{% include '../template-parts/navbar.html' %}
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'blog/highlight/styles/monokai-sublime.css' %}">
  <script type="text/javascript" src="{% static 'blog/highlight/js/highlight.pack.js' %}"></script>
<script>hljs.highlightAll();</script>
	
	<!-- ================main content section================================= -->
  <section class="search-form-container container">
    <!-- search  form container -->
           <div class="display-6">
                Search articles
           </div>
           <br>
           <form>
                <input placeholder="&nbsp;&nbsp;&nbsp;search articles ..." type="text" name="search">
                <button type="submit">search</button>
           </form>
  	<!-- search form  end -->
  </section>

  




  <!-- Content section -->
  <div class="container-fluid " style="margin-top: 30px;">
    <div class="row justify-content-around">
      <!-- main colun one -->
        <div class="col-12 col-lg-8">

          <!-- sub row ----------------------------- -->




            <!-- sub row articles ----------------------------- -->

            <div style="margin:auto;" class="row justify-content-centre main-menu-article-list-article-container">
                <em>&nbsp; &nbsp;search results will be shown here</em>
            </div>
            <br>
            <br>
            <br>
            <!-- ------------------------------------------------- -->

        </div>


            

            <!-- main colun two -->
            {% include '../template-parts/sidebar.html' %}
    </div>
  </div>






  <!-- ================main content section end=================================  -->

<!-- subscribe button -->
  <!-- <section>
  	
  	    <div style="max-width: 980px; background-color: white;" class="container">
              <div  class="row  justify-content-centre subscribe-container">
               <div class="col-12 col-lg-10">
                    <hr style="border: solid 1px ;">
                    <div style="color: #511a1a;">Subscribe to NewsLetter</div>
                       <form >
                           <input placeholder="&nbsp;&nbsp;Email" class="col-10" type="text" name="subscribe">
                           <input class="col-11" type="submit" name="submit" value="subscribe">
                      </form>
                   </div>
                 </div>
        </div>
              
  </section> -->
  <!-- subscribe button end -->


{% include '../template-parts/footer.html' %}