<div class="col-2 side-bar-column">
	<div class="admin_panel_logo">
		<a style="color: black;"  href="{% url 'admin_panel' %}">
			&nbsp; wme<span style="color: #15adc4;">C</span>reatives
		</a>
	</div>
	<a  href="{% url 'post_blog' %}">
		<div id="side-bar-post-blog" ><i class="fas fa-blog"></i>&nbsp;&nbsp;Post Blog</div>
	</a>
	<a  href="{% url 'youtube_admin_sidebar' %}">
		<div id="side-bar-youtube" ><i class="fab fa-youtube-square"></i>&nbsp;&nbsp;Youtube</div>
	</a>
	<a  href="{% url 'dailycode_admin_sidebar' %}">
		<div id="side-bar-dailycode"><i class="fas fa-code"></i>&nbsp;&nbsp;Daily Code</div>
    </a>
	<a href="{% url 'allblogs_admin_sidebar' %}">
		<div id="side-bar-allblogs" ><i class="fas fa-list"></i>&nbsp;&nbsp;all Blogs</div>
	</a>
	<a  href="{% url 'siteanalysis_admin_sidebar' %}">
		<div id="side-bar-siteanalysis"><i class="fas fa-chart-bar"></i>&nbsp;&nbsp;Site Analysis</div>
	</a>
	<a  href="{% url 'comments_admin_sidebar' %}">
		<div id="side-bar-comments"><i class="far fa-comment-alt"></i>&nbsp;&nbsp;Comments</div>
	</a>
	<a  href="{% url 'messages_admin_sidebar' %}">
		<div id="side-bar-messages"><i class="fas fa-sms"></i>&nbsp;&nbsp;Messages</div>
	</a>
	<a  href="{% url 'subscriptions_admin_sidebar' %}">
		<div id="side-bar-subsriptions"><i class="fas fa-users"></i>&nbsp;&nbsp;Subscriptions</div>
	</a>
	<a  href="{% url 'users_admin_sidebar' %}">
		<div id="side-bar-users" ><i class="far fa-user"></i>&nbsp;&nbsp;Users</div>
	</a>
	<a   href="{% url 'settings_admin_sidebar' %}">
		<div id="side-bar-settings"><i class="fas fa-cogs"></i>&nbsp;&nbsp;Settings</div>
	</a>
</div>