{% load static %}
{% include './template-parts/navbar.html' %}


<div class="cotainer">
	<div class="bloglist-main-container row">
		<section class="col-lg-9">
			<div class="post-main-container">
				<div class="row">
					<div class="bloglist-page-article-img col-md-4">
						<img  src="{% static 'ufos-5577222_1920.jpg' %}">
					</div>
					<div class="col-md-8 bloglist-content-section">
						<div>Topic</div>
						<div>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
						<div class="post-tags"><span>tags</span><span>tags</span></div>
					</div>
				</div>

				<div class="post-date-author-update-bloglist">
					<span>by wiz</span>
					<span>date: 4444</span>
					<span>updated: 3333</span>
					<span>comments: 4444</span>
					<span>views: 3333</span>
				</div>
			</div>
			<!-- ---------------------------- -->
			<div class="post-main-container">
				<div class="row">
					<div class="bloglist-page-article-img col-md-4">
						<img  src="{% static 'ufos-5577222_1920.jpg' %}">
					</div>
					<div class="col-md-8 bloglist-content-section">
						<div>Topic</div>
						<div>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
						<div class="post-tags"><span>tags</span><span>tags</span></div>
					</div>
				</div>

				<div class="row post-date-author-update">
					<span class="col">by wiz</span>
					<span class="col">date: 4444</span>
					<span class="col">updated: 3333</span>
					<span class="col">comments: 4444</span>
					<span class="col">views: 3333</span>
				</div>
			</div>
			<!-- ------------------------------------ -->
			<div class="post-main-container">
				<div class="row">
					<div class="bloglist-page-article-img col-md-4">
						<img  src="{% static 'ufos-5577222_1920.jpg' %}">
					</div>
					<div class="col-md-8 bloglist-content-section">
						<div>Topic</div>
						<div>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
						<div class="post-tags"><span>tags</span><span>tags</span></div>
					</div>
				</div>

				<div class="row post-date-author-update">
					<span class="col">by wiz</span>
					<span class="col">date: 4444</span>
					<span class="col">updated: 3333</span>
					<span class="col">comments: 4444</span>
					<span class="col">views: 3333</span>
				</div>
			</div>
			<!-- ------------------------------------------ -->
		</section>

		<section class="col-lg-3">
			<div class="bloglist-page-subscribe-form">
				<form>
					<div>News Letter</div>
					<input type="email" name="email" placeholder="email...">
					<input type="submit" name="subscribe" value="subscribe">
				</form>
			</div>
		</section>
	</div>
	
	
</div>


{% include './template-parts/footer.html' %}
