{% load static %}
{% include './template-parts/navbar.html' %}

<style>
	a{ text-decoration: none;
  color: unset; }
</style>

<div class="cotainer">
	<div class="bloglist-main-container row">
		{% if blogs %}
		<section class="col-lg-9">
			{% for blog in blogs %}
			<div class="post-main-container">
				<div class="row">
					
						{% if blog.lead_img %}
						<div class="bloglist-page-article-img col-md-4">
							<a href="{% url 'blogdetail' blog.slug %}">
							    <img  src="{{blog.lead_img.url}}">
							</a>
						</div>
						{% else %}
						{% endif %}
					


					<div class="col-md-8 bloglist-content-section">

						<div><a href="{% url 'blogdetail' blog.slug %}">{{blog.title}}</a></div>
						<div><a href="{% url 'blogdetail' blog.slug %}">{{blog.summary}}</a></div>
						<div class="post-tags">
							{% for tag in blog.tags.all %}
							<span>{{tag.name}}</span>
							{% endfor %}
						</div>
					</div>
				</div>
               <!-- THIS FOLLOWING COMMENTED CODE IS NOT TO BE DELETED 
 				<div class="post-date-author-update-bloglist">
						<span><a href="{% url 'blogdetail' blog.slug %}"><i class="fas fa-user"></i>&nbsp;&nbsp;by {{blog.author}}</a></span>
						<span><a href="{% url 'blogdetail' blog.slug %}"><i class="far fa-calendar-alt"></i>&nbsp;&nbsp;{{blog.date_created}}</a></span>
						<span><a href="{% url 'blogdetail' blog.slug %}"><i class="fas fa-pen-alt"></i>&nbsp;&nbsp;updated: 3333</a></span>
						<span><a href="{% url 'blogdetail' blog.slug %}"><i class="fas fa-comment-alt"></i>&nbsp;&nbsp;88</a></span>
						<span><a href="{% url 'blogdetail' blog.slug %}"><i class="far fa-eye"></i>&nbsp;&nbsp;{{blog.num_views}}</a></span>
				</div> -->
			</div>
			{% endfor %}			
			<!-- ------------------------------------------ -->
		</section>
		{% endif %}

		<section class="col-lg-3">
			<div class="bloglist-page-subscribe-form">
				<form>
					<div>News Letter</div>
					<input type="email" name="email" placeholder="email...">
					<input type="submit" name="subscribe" value="subscribe">
				</form>
			</div>
		</section>
	</div>
	
	
</div>


{% include './template-parts/footer.html' %}
