{% load static %}
{% include './template-parts/navbar.html' %}

<div style="background-image: url({% static 'ufos-5577222_1920.jpg' %}) " class="hero-section">
			<!-- col-1 -->
			<div class="hot-topic-container">
				<div>
					<span class="hot-topic-circle"></span>&nbsp;&nbsp;
					<span class="hot-topic-theme">WELLCOE TO WMECREATIVES</span>
				</div>
				<div class="hot-topic-topic">Learn As We Create Together</div>
				<div class="hot-topic-theme-handshake-icon"><span><i class="fas fa-handshake"></i></span></div>
			</div>
			<!-- col-2 -->
			<div class="breaking-news-container">
				<div>
					<div class="breaking-news-theme">TODAY'S CODE</div>
					<div class="breaking-news-topic-topic">
						Lorem Ipsum Topic Of Our News paper
						Lorem Ipsum Topic Of Our News paper
						Lorem Ipsum Topic Of Our News paper
						Lorem Ipsum Topic Of Our News paper
						Lorem Ipsum Topic Of Our News paper
						Lorem Ipsum Topic Of Our News paper
						Lorem Ipsum Topic Of Our News paper
						Lorem Ipsum Topic Of Our News paper
						Lorem Ipsum Topic Of Our News paper
						Lorem Ipsum Topic Of Our News paper
						Lorem Ipsum Topic Of Our News paper
					</div>
					<div class="breaking-news-time-author-container">
						<span>1 hour ago by</span><span style="color: blue;"> wiz </span>
					</div>
				</div>

				<!-- <div>
					<div class="breaking-news-theme">BREAKING NEWS</div>
					<div class="breaking-news-topic-topic">
						Lorem Ipsum Topic Of Our News paper
					</div>
					<div class="breaking-news-time-author-container">
						<span>1 hour ago by</span><span style="color: blue;"> wiz </span>
					</div>
				</div> -->

				<!-- <div>
					<div class="breaking-news-theme">BREAKING NEWS</div>
					<div class="breaking-news-topic-topic">
						Lorem Ipsum Topic Of Our News paper
					</div>
					<div class="breaking-news-time-author-container">
						<span>1 hour ago by</span><span style="color: blue;"> wiz </span>
					</div>
				</div> -->
			</div>
		</div>




		<div class="breaking-news-second-main-container">
			<div class="bns-main-theme">RECENT</div>

			<div class="bns-articles-main-container container-fluid">
				<div class="bns-articles-sub-container row justify-content-around">                      
					<div class="col-12  col-lg-5"><!-- actual article inner container-------------- -->
						<div class="bns-article-img">
							<img src="{% static 'ufos-5577222_1920.jpg' %}">
						</div>
						<div>
							<div>27 minutes ago <span class="article-font-style">Tag</span></div><br>
							<div class="article-font-style">Lorem Ipsum Topic Of</div>
						</div>
					</div>                      
					<div class="col-12  col-lg-5"><!--actual article inner container -------------- -->
						<div class="bns-article-img">
							<img src="{% static 'ufos-5577222_1920.jpg' %}">
						</div>
						<div >
							<div>27 minutes ago <span class="article-font-style">Tag</span></div><br>
							<div class="article-font-style">Lorem Ipsum Topic Of</div>
						</div>
					</div>                      
					<div class="col-12  col-lg-5"><!-- actual article inner container-------------- -->
						<div class="bns-article-img">
							<img src="{% static 'ufos-5577222_1920.jpg' %}">
						</div>
						<div>
							<div>27 minutes ago <span class="article-font-style">Tag</span></div><br>
							<div class="article-font-style">Lorem Ipsum Topic Of Lorem Ipsum Topic Of</div>
						</div>
					</div>
					<div class="col-12  col-lg-5">
						<div class="bns-article-img">
							<img src="{% static 'ufos-5577222_1920.jpg' %}">
						</div>
						<div>
							<div>27 minutes ago <span class="article-font-style">Tag</span></div><br>
							<div class="article-font-style">Lorem Ipsum Topic Of Lorem Ipsum Topic Of</div>
						</div>
					</div>
					<div class="col-12  col-lg-5">
						<div class="bns-article-img">
							<img src="{% static 'ufos-5577222_1920.jpg' %}">
						</div>
						<div>
							<div>27 minutes ago <span class="article-font-style">Tag</span></div><br>
							<div class="article-font-style">Lorem Ipsum Topic Of Lorem Ipsum Topic Of</div>
						</div>
					</div>
					<div class="col-12  col-lg-5">
						<div class="bns-article-img">
							<img src="{% static 'ufos-5577222_1920.jpg' %}">
						</div>
						<div>
							<div>27 minutes ago <span class="article-font-style">Tag</span></div><br>
							<div class="article-font-style">Lorem Ipsum Topic Of Lorem Ipsum Topic Of</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</header>

    
    <!-- categories section -->
	<section class="categories-section-main-container container-fluid">

		<div class="select-by-category-topic">Select Topic By Category</div>

		<div class="categories-sub-container row justify-content-between">
			<div class="category-icon-container col-5 col-sm-3 col-lg-2">
				<div><i class="fab fa-python"></i></div>
				<div>Python</div>
			</div>


			<div class="category-icon-container col-5 col-sm-3 col-lg-2">
				<div><i class="fab fa-php"></i></div>
				<div>Php</div>
			</div>


			<div class="category-icon-container col-5 col-sm-3 col-lg-2">
				<div><i class="fab fa-js"></i></div>
				<div>Js</div>
			</div>

			<div class="category-icon-container col-5 col-sm-3 col-lg-2">
				<div><i class="fab fa-js"></i></div>
				<div>Js</div>
			</div>

			<div class="category-icon-container col-5 col-sm-3 col-lg-2">
				<div><i class="fab fa-js"></i></div>
				<div>Js</div>
			</div>


			<div class="category-icon-container col-5 col-sm-3 col-lg-2">
				<div>icon</div>
				<div>Text</div>
			</div>

			<div class="category-icon-container col-5 col-sm-3 col-lg-2">
				<div>icon</div>
				<div>Text</div>
			</div>

			<div class="category-icon-container col-5 col-sm-3 col-lg-2">
				<div>icon</div>
				<div>Text</div>
			</div>

			<div class="category-icon-container col-5 col-sm-3 col-lg-2">
				<div>icon</div>
				<div>Text</div>
			</div>

			<div class="category-icon-container col-5 col-sm-3 col-lg-2">
				<div>icon</div>
				<div>Text</div>
			</div>

			<div class="category-icon-container col-5 col-sm-3 col-lg-2">
				<div>icon</div>
				<div>Text</div>
			</div>
		</div>
		
	</section>


    <!-- VEDEO SECTION -->
	<section class="video-section-main-container container-fluid">
		<div class="video-section-topic">YOUTUBE VIDEOS</div>

		<div class="video-section-sub-container row justify-content-between">
			<div class="video-item col-12 col-sm-6 col-lg-3">
				<div>
					<iframe  src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>
				</div>
				<div class="video-topic article-font-style">Lorem Ipsum text as a topic of a video test</div>
				<div class="post-tags"><span>tags</span><span>tags</span></div>
			</div>

			<div class="video-item col-12 col-sm-6 col-lg-3">
				<div>
					<iframe  src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>
				</div>
				<div class="video-topic article-font-style">Lorem Ipsum text as a topic of a video test</div>
				<div class="post-tags">
					<span>tags</span><span>tags</span><span>tags</span><span>tags</span><span>tags</span>
				</div>
			</div>

			<div class="video-item col-12 col-sm-6 col-lg-3">
				<div>
					<iframe  src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>
				</div>
				<div class="video-topic article-font-style">Lorem Ipsum text as a topic of a video test</div>
				<div class="post-tags">
					<span>tags</span><span>tags</span><span>tags</span><span>tags</span><span>tags</span>
				</div>
			</div>

			<div class="video-item col-12 col-sm-6 col-lg-3">
				<div>
					<iframe  src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>
				</div>
				<div class="video-topic article-font-style">Lorem Ipsum text as a topic of a video test</div>
				<div class="post-tags">
					<span>tags</span><span>tags</span><span>tags</span>
				</div>
			</div>

		</div>
	</section>

    
    <!-- SUBSCRIBE FORM -->
	<section class="subscribe-form-main-container">
        


        <div>
        	<div class="subscribe-form-text">
                <span>Subscribe to my news letter</span>
                <span>I post articles from time to time, Be the first to get these articles.</span>	
                <span>I wont share Your Email With someone else. I promise</span>
            </div>
            <br>
        	<form class="subscribe-form">
      <!--   	    <label for="name">Name</label>
        	    <input id="name" type="text" name="name">
                 <br> -->
        	    <!-- <label for="email">Email</label> -->
        	    <input id="email" type="email" name="email">
        	    <br>
        	    <br>
        	    <input type="submit" name="subscribe" value="subscribe">
		    </form>
        </div>
		

	</section>





{% include './template-parts/footer.html' %}
