{% include './template-parts/navbar.html' %}
	

	<div class="header-section-container">
		<div>
			{% if homepage.video %}
			<video autoplay="true" muted="muted" loop id="mmCardVid"  class="mmCardVid">
               <source  src="{{homepage.video.url}}" type="video/mp4">
               secure connection could not be established
            </video>
            {% endif %}
		</div>
		<div class="header-section-theme">
			<span style="color: #511a1a;">{{homepage.site_theme}}</span>&nbsp;&nbsp;<i style="color: #511a1a; opacity: unset;" class="fas fa-handshake"></i>
		</div>
	</div>

	<!-- Content section -->
	<div class="container-fluid " style="margin-top: 30px;">
	  <div class="row justify-content-around">
	  	<!-- main colun one -->
		    <div class="col-12 col-lg-8">

		    	<!-- sub row ----------------------------- -->
                 {% if random_link %}
		        <div style="margin-bottom: 50px;" class="row content-item-container-featured justify-content-around">
		      	    <div style="max-width: unset; max-width: 80%;" class="col">
		      	    	<h1 class="display-6 item-text-styles" style="color: #511a1a;">What Dietary Fat Does Your Body Thrive on?
		      	       </h1><br>
		      	       <div class="item-text-styles">
		      	       	     ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      	       	     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		      	       	     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		      	       	     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		      	       	     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		      	       	     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		      	       </div><br>
                       <iframe src="{{random_link.link}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		      	       <hr>
		      	    </div>
		        </div>
		        {% endif %}


                <!-- sub row articles ----------------------------- -->
                {% for article in all_articles %}

		        <div style="margin-bottom: 50px;" class="row content-item-container justify-content-around">
		      	    <div class="col">
		      	    	<h1  class="display-6 item-text-styles" style="color: #511a1a;">{{article.title}}
		      	       </h1><br>
		      	       

		      	       <div style="font-size: 13px;"  class="topic-meta-descriptions">
		      	       	   <span><i class="fas fa-calendar-alt"></i>&nbsp;{{article.date}}</span>
		      	       	   <span><i class="far fa-clock"></i>&nbsp;{{article.read_time}} min read</span>
		      	       	   <span style="visibility:hidden;"><i class="fas fa-comment"></i>&nbsp;20</span>
		      	       	   <span style="visibility:hidden;"><i class="fas fa-eye"></i>&nbsp; 2021</span>
		      	       </div>
                       
                       {% if article.lead_img %}
                       <img src="{{article.lead_img.url}}">
                       {% endif %}

                       <div class="item-text-styles">
		      	       	     {{article.summary}}
		      	       	     <br>
		      	       	     <br>
		      	       	     <span>
		      	       	         <a href="{% url 'article_details' article.slug %}">
		      	       	             Read More ...
		      	       	         </a>
		      	       	     </span>
		      	       </div><br>
                       
		      	       <hr>
		      	       <div class="row content-item-container justify-content-around articles-author-container">
		      	       	     <div class="col-2">
		      	       	     	{% if article.author.image %}
		      	       	     	<img src="{{article.author.image.url}}">
		      	       	     	{% endif %}
		      	       	     </div>
		      	       	     <div class="col-8">
		      	       	     	<span>By {{article.author.name}}</span>
		      	       	     </div>     
		      	       </div>
		      	       <div class="topic-meta-tags">
		      	       	   {% for tag in article.tag.all %}
		      	       	   <span>{{tag}}</span>
		      	   	       {% endfor %}
		      	       </div>
		      	    </div>
		        </div>
		        {% endfor %}

		        <!-- sub row articles ----------------------------- -->



		    </div>


            

            <!-- main colun two -->
		    <div  class="col-10 col-lg-4 main-content-container-column-2">

		        <div class="row  justify-content-start recent-articles">
		        	<div class="col-12">
		                <h3 class="display-6" style="margin-top: 10px; margin-bottom: 10px;" class="col">Recent Topics</h3>
		            </div> 
                    <!-- recent articles start -->
                    {% for article in recent_articles %}
		      	    <div style="margin-top: 5px;margin-bottom: 25px;" class="col-12">
		      	    	<span>
	      	    			<a href="{% url 'article_details' article.slug %}">
	      	       	             {{article.title|upper}}
	      	       	        </a>
		      	    	</span>
		      	       <br>
		      	       <br>
		      	       <div style="font-size: 13px;" class="row">
		      	       	    <div class="col"><i class="fas fa-user-edit"></i>
		      	       	       &nbsp;by {{article.author.name}}
		      	       	    </div>
		      	       	    <div class="col"><i class="fas fa-calendar-alt"></i>
		      	       	        &nbsp;{{article.date}}
		      	       	    </div>
		      	       	    <div class="col">
		      	       	    	<i class="far fa-clock"></i>&nbsp;{{article.read_time}} min read
		      	       	    </div>
		      	       	    <!-- <div class="col"><i class="fas fa-comment"></i>&nbsp; 33</div> -->
		      	       </div>
		      	    </div>
		      	    <hr>
		      	    {% endfor %}
		      	    <!-- recent articles end -->
		        </div>
                <!-- ------------------------videos----------------------------------------- -->
                {% if youtube_links %}
		        <div class="row  justify-content-start main-column-2-videos">
		        	
		        	{% for i in youtube_links %}
		      	    <div class="col col-sm-6" style="margin-top: 5px;margin-bottom: 25px;">

		      	       <!-- -------- -->
		      	       <iframe src="{{i.link}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		      	       <!-- --------------------------------- -->
		      	    </div>
		      	    {% endfor %}
		      	    
		      	    <!-- <div class="col-6 col-sm-6" style="margin-top: 5px;margin-bottom: 25px;">
		      	    	<iframe  src="https://www.youtube.com/embed/wxDIVZg-cNQ?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		      	    </div> 
		      	    <div class="col-6 col-sm-6" style="margin-top: 5px;margin-bottom: 25px;">
		      	    	<iframe  src="https://www.youtube.com/embed/cUXSPIi5mE0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		      	    </div>
		      	    <div class="col-6 col-sm-6" style="margin-top: 5px;margin-bottom: 25px;">
		      	    	<iframe   src="https://www.youtube.com/embed/YxgoVAvNWn4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
		      	    </div> -->
		        </div>
		        {% endif %}

                <!-- subscribe to newsletter form -->
                	<div class="row  justify-content-centre subscribe-container">
		        	<div class="col-12">
		        		<div style="color: #511a1a;">Subscribe to NewsLetter</div>
		        		   <form >
		        		       <!-- <input placeholder="&nbsp;&nbsp;First Name" class="col-10" type="text" name="subscribe"> -->
		        		       <input placeholder="&nbsp;&nbsp;Email" class="col-10" type="text" name="subscribe">
		        		       <input class="col-11" type="submit" name="submit" value="subscribe">
		        	       </form>
		        	    </div>
		            </div>	
                <!-- </div> -->
		    </div>
	  </div>
	</div>


	<footer class="container-fluid">
		<div class="row justify-content-around">
			<div class="search-bar">
				<form>
					<input  placeholder="&nbsp; &nbsp; search articles..." type="text" name="text">
					<input style="font-family: FontAwesome; color:rgb(100,100,100); font-size: 14px;" value="&#xf002;" type="submit">
				</form>
			</div>
		</div>
        <hr style="border: solid 0.5px rgba(170,170,170);">
		<div class="row justify-content-around footer-social-media-icons">
			<div style="text-align: center;"  class="col-12">Follow Me On Social Media</div>
			<div class="col-1"><i class="fab fa-youtube"></i></div>
			<div class="col-1"><i class="fab fa-twitter"></i></div>
			<div class="col-1"><i class="fab fa-facebook"></i></div>	
		</div>
        <hr style="border: solid 0.5px rgba(170,170,170);">
		<div class="row justify-content-centre">
			<div class="col"><span class="logo-footer">wmeCreatives &copy; 2021</span></div>
		</div>
	</footer>


</body>
</html>
