{% load static %}
{% include './template-parts/navbar.html' %}

{% if home_record.background_img %}
<div style="background-image: url({{home_record.background_img.url}}) " class="hero-section">
{% else %}
<div style="background-color: black;" class="hero-section">
{% endif %}
			<!-- col-1 -->
			{% if home_record %}
			<div class="hot-topic-container">
				
				<div>
					<span class="hot-topic-circle"></span>&nbsp;&nbsp;
					<span class="hot-topic-theme">{{home_record.site_theme}}</span>
				</div>
				<div class="hot-topic-topic">{{home_record.theme_description}}</div>
				<div class="hot-topic-theme-handshake-icon"><span><i class="fas fa-handshake"></i></span></div>
			</div>
			{% endif %}
			<!-- col-2 -->

			{% if todayscode %}
			<div class="breaking-news-container">
				<div>
					<div class="breaking-news-theme">{{todayscode.title}}</div>
					<div class="breaking-news-topic-topic">
						{{todayscode.code}}
					</div>
					<div class="breaking-news-time-author-container">
						<span>{{todayscode.date_created}} by</span><span style="color: blue;"> {{todayscode.author}} </span>
					</div>
				</div>
			</div>
			{% endif %}
		</div>



                {% if blogs %}
                
		<div class="breaking-news-second-main-container">
			<div class="bns-main-theme">RECENT</div>
                        
                        
			<div class="bns-articles-main-container container-fluid">
				<div class="bns-articles-sub-container row justify-content-around"> 
				        {% for blog in blogs %}                     
					<div class="col-12  col-lg-5"><!-- actual article inner container-------------- -->
						<div class="bns-article-img">
							{% if blog.lead_img %}
							<img src="{{blog.lead_img.url}}">
							{% else %}
							{% endif %}
						</div>
						<div>
							<div>published: {{blog.date_created}}&nbsp;&nbsp;&nbsp;<span style="color:green;cursor: pointer;" class="article-font-style">Python</span></div><br>
							<div class="article-font-style">{{blog.title}}</div>
						</div>
					</div> 
					{% endfor %}                     


				</div>
			</div>
			
			
		</div>
		{% endif %}
	</header>

    
    <!-- categories section -->
        {% if categories %}
	<section class="categories-section-main-container container-fluid">

		<div class="select-by-category-topic">Select Topic By Category</div>

		<div class="categories-sub-container row justify-content-between">
                        {% for cat in categories %}
			<div class="category-icon-container col-5 col-sm-3 col-lg-2">
				<div><i class="{{cat.icon_class}}"></i></div>
				<div>{{cat.name}}</div>
			</div>
                        {% endfor %}

		</div>
		
	</section>
	{% endif %}


    <!-- VEDEO SECTION -->
    {% if youtube_vids %}
	<section class="video-section-main-container container-fluid">
		<div class="video-section-topic">YOUTUBE VIDEOS</div>

		<div class="video-section-sub-container row justify-content-between">
			{% for vid in youtube_vids %}
			<div class="video-item col-12 col-sm-6 col-lg-3">
				<div>
					<iframe  src="{{vid.link}}"></iframe>
				</div>
				<div class="video-topic article-font-style">{{vid.title}}</div>
				<div class="post-tags">
					{% for tag in vid.tags.all %}
					<span>{{tag.name}}</span>
					{% endfor %}
				</div>
			</div>
			{% endfor %}

		</div>
	</section>
	{% endif %}

    
    <!-- SUBSCRIBE FORM -->
	<section class="subscribe-form-main-container">
        


        <div>
        	<div class="subscribe-form-text">
                <span>Subscribe to my news letter</span>
                <span>I post articles from time to time, Be the first to get these articles.</span>	
                <span>I wont share Your Email With someone else. I promise</span>
            </div>
            <br>
        	<form class="subscribe-form">
      <!--   	    <label for="name">Name</label>
        	    <input id="name" type="text" name="name">
                 <br> -->
        	    <!-- <label for="email">Email</label> -->
        	    <input id="email" type="email" name="email">
        	    <br>
        	    <br>
        	    <input type="submit" name="subscribe" value="subscribe">
		    </form>
        </div>
		

	</section>





{% include './template-parts/footer.html' %}
