{% include './template-parts/navbar.html' %}
	<div class="container-fluid " style="margin-top: 30px;">
		<div class="row main-menu-article-list">
		  	<!-- main colun one -->
		    <div class="col-12 col-lg-8">
		    	<strong class="display-5">
		    		{{menu|safe}}
		    	</strong>
		    </div>
		</div>
    </div>


	<!-- Content section -->
	<div class="container-fluid " style="margin-top: 30px;">
	  <div class="row justify-content-around">
	  	<!-- main colun one -->
		    <div class="col-12 col-lg-8">

		    	<!-- sub row ----------------------------- -->
                 {% if random_link %}
		        <div style="margin-bottom: 50px;" class="row content-item-container-featured justify-content-around">
		      	    <div style="max-width: unset; max-width: 80%;" class="col">
		      	    	<h1 class="display-6 item-text-styles" style="color: #511a1a;">What Dietary Fat Does Your Body Thrive on?
		      	       </h1><br>
		      	 <!--       <div class="item-text-styles">
		      	       	     ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      	       	     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		      	       	     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		      	       	     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		      	       	     cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		      	       	     proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		      	       </div><br> -->
                       <iframe src="{{random_link.link}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		      	       <hr>
		      	    </div>
		        </div>
		        {% endif %}



		        <!-- sub row articles ----------------------------- -->

		        {% for article in all_articles %}
		        <div style="margin:auto;" class="row justify-content-centre main-menu-article-list-article-container">
		      	    <div class="col-4 main-menu-article-list-article-img">

		      	    	{% if article.lead_img %}
		      	    	<a href="{% url 'article_details' article.slug %}">
                            <img src="{{article.lead_img.url}}">
                        </a>
                       {% endif %}
		      	    </div>
		      	    <div class="col-8">
		      	    	<a href="{% url 'article_details' article.slug %}">
		      	    	<div style="font-size: 20px;color: brown;">
		      	    		<strong>
		      	    		    {{article.title}}
		      	    		</strong>
		      	    	</div>
		      	    	</a>

		      	    	<div>
		      	    		<a style="color: #511a1a;" href="{% url 'article_details' article.slug %}">
		      	    		{{article.summary}}
		      	    	    </a>
		      	    		<br>
		      	    		{% for tag in article.tag.all %}
		      	    		<a style="color: #511a1a;" href="{% url 'article_list' tag %}">
			      	       	    <span class="articles-list-tags">
			      	       	        {{tag}}
			      	       	    </span>
		      	       	    </a>
		      	   	        {% endfor %}
		      	    	</div>
		      	    	<hr>
		      	    </div>
		      	    <div class="col-12" style="color: #511a1a;">
		      	    		<span class="col">
		      	    			<i class="fas fa-user-edit"></i>&nbsp;By {{article.author.name}}
		      	    		</span>
		      	    		&nbsp;&nbsp;&nbsp;
		      	       	    <span class="col">
		      	       	    	<i class="fas fa-calendar-alt"></i>&nbsp;{{article.date}}
		      	       	    </span>
		      	       	    &nbsp;&nbsp;&nbsp;
		      	       	    <span><i class="far fa-clock"></i>&nbsp;{{article.read_time}} min read</span>
		      	       	    <!-- &nbsp;&nbsp;&nbsp;
		      	       	    <span class="col">
		      	       	    	<i class="fas fa-comment"></i>&nbsp; 33
		      	       	    </span> -->
		      	    	</div>	
		        </div>
		        <br>
		        <br>
		        <br>
		        {% endfor %}
		        <!-- ------------------------------------------------- -->

		    </div>


            

            <!-- main colun two -->
            {% include './template-parts/sidebar.html' %}
	  </div>
	</div>


	<footer class="container-fluid">
		<div class="row justify-content-around">
			<div class="search-bar">
				<form>
					<input  placeholder="&nbsp; &nbsp; search articles..." type="text" name="text">
					<input style="font-family: FontAwesome; color:rgb(100,100,100); font-size: 14px;" value="&#xf002;" type="submit">
				</form>
			</div>
		</div>
        <hr style="border: solid 0.5px rgba(170,170,170);">
		<div class="row justify-content-around footer-social-media-icons">
			<div style="text-align: center;"  class="col-12">Follow Me On Social Media</div>
			<div class="col-1"><i class="fab fa-youtube"></i></div>
			<div class="col-1"><i class="fab fa-twitter"></i></div>
			<div class="col-1"><i class="fab fa-facebook"></i></div>	
		</div>
        <hr style="border: solid 0.5px rgba(170,170,170);">
		<div class="row justify-content-centre">
			<div class="col"><span class="logo-footer">wmeCreatives &copy; 2021</span></div>
		</div>
	</footer>


</body>
</html>
