
.youtube-sidebar-admin-row-one {
	background-color: rgb(242, 242, 242);
}
.youtube-sidebar-admin-row-one > div{
    background-color: white;
    /*border: solid 1px;*/
    /*box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.youtube-sidebar-admin-row-one > div:nth-child(4){
	margin-right: 20px;
	background-color: #43aec4;
	color: white;
	cursor: pointer;
}

/*all blogs*/
.all-blogs-admin-sidebar-container{
    background-color: rgb(242, 242, 242);
}

.all-blogs-admin-sidebar {
    background-color: white;
    margin-bottom: 30px;
    margin-top: 30px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.all-blogs-admin-sidebar >div:nth-child(1){
    font-size: 30px;
    color: #43AEC4;
    margin-bottom: 20px;
}
.all-blogs-admin-sidebar >div:nth-child(2){
    margin-bottom: 20px;
}
.all-blogs-admin-sidebar >div:nth-child(2) span{
 display: inline-block;
 margin-right: 40px;
 padding-left: 50px;
 padding-right: 50px;
 border: solid 1px #43AEC4;
 cursor: pointer;
}