
.top-admin-bar{
	background-color: rgb(17, 16, 16);
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 38px;
	padding-right: 38px;
	display: flex;
	justify-content: space-between;
}
.top-admin-bar>div{
	cursor: pointer;
}


.side-bar-column{
	background-color: rgb(30, 27, 27);
	height: 1000px;
	color: rgb(200, 200, 200);
	padding-left: 50px;
}
.side-bar-column div{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	/*border: solid 1px;*/
	margin-top: 20px;
	cursor: pointer;
	background-color: rgb(58, 52, 52);
	/*width: 700px;*/
	/*box-shadow: rgb(56, 48, 48) 1px 1px 2px;*/
}
.admin_panel_logo{
	/*border-radius: 90px !important;*/
	background-color:white !important;
	font-size: 20px;
}

.web-analysis-summary{
	padding-top: 30px;
	background-color: rgb(240, 240, 240);
}
.web-analysis-summary >div{
	border:  solid 1px rgba(150, 150, 150);
	border-radius: 40px;
	margin: 10px;
}

/*-------------------------POST BLOG.HTML STYLES-------------------------------------*/
.post-blog-form {
	background-color: rgb(240, 240, 240);
	height: 1000px;

}
.post-blog-form  form{
	width: 90%;
	margin: auto;
	/*border: solid;*/
	margin-top: 40px;
	margin-bottom: 50px;
/*	margin-left: 40px;*/
}
.post-blog-form  form input{
	width: 100%;
}
.post-blog-form  form textarea{
	width: 100%;
}