/*styles affecting many elements*/
.second-admin-column-features{
    height: 1200px;
    /*background-color: rgb(242, 242, 242);*/
}
/*-----------------------------------------------------------------------------------------------*/
/*.youtube-sidebar-admin-row-one {
	background-color: rgb(242, 242, 242);
}*/
.youtube-sidebar-admin-row-one > div{
    background-color: white;
    /*border: solid 1px;*/
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.youtube-sidebar-admin-row-one > div:nth-child(4){
	margin-right: 20px;
	background-color: #43aec4;
	color: white;
	cursor: pointer;
}

/*all blogs*/
.all-blogs-admin-sidebar-container{
    /*background-color: rgb(242, 242, 242);*/
}

.all-blogs-admin-sidebar {
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 30px;
    margin-top: 30px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.all-blogs-admin-sidebar >div:nth-child(1){
    font-size: 30px;
    color: #43AEC4;
    margin-bottom: 20px;
}
.all-blogs-admin-sidebar >div:nth-child(2){
    margin-bottom: 20px;
}
.all-blogs-admin-sidebar >div:nth-child(2) span{
 display: inline-block;
 font-size: 12px;
 margin-right: 40px;
 padding-left: 50px;
 padding-right: 50px;
 border: solid 1px #43AEC4;
 cursor: pointer;
 border-radius: 20px;
}
.all-blogs-admin-sidebar >div:nth-child(2) span:hover{
    background-color: #43AEC4;
    color: white;
}

.pagination{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.pagination span{
    background-color: #43AEC4;
    color: white;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}