/*====================================BLOGLIST.HTML STYLES ==============================*/

.post-main-container {
    background-color: white;
}

.post-main-container .bloglist-page-article-img img{
  width: 100%;
  height: auto;
}
.bloglist-main-container{
  padding-left: 40px;
  padding-right: 40px;
  /*background-color: rgba(230,230,230, 0.4);*/
  /* background-color: rgba(21, 173, 196, 0.01); */
}
.post-main-container{
  border: solid 1px rgba(230,230,230, 0.7);
  padding: 20px;
  border-bottom: solid 3px #15adc4;
  /*margin-top: 40px;*/
  margin-bottom: 40px;
}
.bloglist-content-section div:nth-child(1){
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}
.bloglist-content-section div:nth-child(2){
  font-size: 17px;
  color: #6d6d6d;
}
.post-date-author-update-bloglist{
  padding-top: 10px;
  /*padding-bottom: 10px;*/
  display: flex;
  flex-wrap: wrap;
}

.post-date-author-update-bloglist>span {
  display: inline-block;
  margin-right: 30px;
  color: rgb(100, 100, 100);
  font-size: 13px;
}

/*--------------------------subscribe form-------------------*/

.bloglist-page-subscribe-form{
  background-color:white;
  /*margin-top: 40px;*/
  padding-top: 20px;
  padding-bottom: 20px;
  /*color: white;*/
  border-bottom: solid 3px #15adc4;
  border: solid 1px rgba(230,230,230, 0.7);
}

.bloglist-page-subscribe-form form{
  width: 100%;
}
.bloglist-page-subscribe-form form input{
  width: 80%;
  margin-left:10%;
  margin-bottom: 5px;
}
.bloglist-page-subscribe-form form>div{
  margin-left:10%;
  padding-bottom: 12px;
}

/* ------------------BLOGDETAILS--------------------------- */
.blogdetails-topic{
  background-color: #23241F;
  color: #8c8c8c;
  padding: 40px;
}
.auther-pic{
  background-color: white;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.auther-pic img{
  width: 100%;
  height: 100%;
}
.post-meta-data{
  display: flex;
  flex-wrap: wrap;
}
.post-meta-data>div {
  margin-right: 30px;
  color: rgb(100, 100, 100);
  font-size: 15px;
}
.blogdetails_related_articles>div{
  /*border: solid;*/
  margin-bottom: 40px;
  background-color: white;
  /*border: solid 1px rgba(230,230,230, 0.7);*/
  /*box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;*/
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.blogdetails_related_articles>div:hover{
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  cursor: pointer;
}
/* .blogdetails_related_articles>div:first-child{
  margin-bottom: 40px;
} */
/* .blogdetails_related_articles>div:last-child{
  margin-bottom: 20px;
} */
.blogdetails-related-articles-article-img img{
  width: 100%;
  padding-top: 12px;
  height: 150px;
}
.blogdetails-related-articles-post-tags span{
  border: solid 1px #15adc4;
  display: inline-block;
  margin-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 13px;
  margin-right: 5px;
  
}
.blogdetails-related-articles-post-tags span:last-child{
  margin-bottom: 12px;
}

.blogdetails-related-articles-post-tags  span:hover{
  background-color: #15adc4;
  color: white;
  cursor: pointer;
}
.blogdetails_related_articles-section-topic{
  margin-top: 60px;
  margin-bottom: 30px;
  background-color: #15adc4;
  /*border: solid 1px #15adc4;*/
  /* margin-left: 40px; */
  max-width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 12px;
  color: white;
  /*color: #15adc4;*/
}
/*COMMENT SECTION*/
.comment-section-container,
.comment-display-section-container{
  padding-left: 40px;
  padding-right: 40px;
}
.comment-form {
  margin-top: 20px;
  margin-bottom: 20px;
}
/*.comment-form ,*/
.comment-form  input[type='text'],
.comment-form  textarea{
   width: 100%;
   border: none;
   /*box-shadow: 1px 0px 1px 1px rgba(180, 180, 180, 1.0);*/
   /*box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 9px 0px;*/
   box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.comment-form  textarea{
  height: 200px;
}
.comment-box{
  margin-top: 15px;
  margin-bottom: 15px;
  /*background-color: rgb(245, 245, 245);*/
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  padding: 30px;
  color: rgb(55, 55, 55);
}
.comment-owner-meta-details{
  font-size: 13px;
  padding-top: 20px;
}

.comment-owner-meta-details div:nth-child(1){
  /*font-style: italic;*/
  color: rgb(55, 55, 55) !important;
}

/*------------------------CONTACTS PAGE------------------------*/
.contacts-page-theme{
  text-align: center;
  background-color: #15adc4;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bolder;
}
.contacts-page-container{
  margin-top: 100px !important;
  margin-bottom: 100px !important;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 400px;
  margin: auto;
  border: solid 1px;
  text-align: center;
  border-top: solid 6px #15adc4;
}
.contacts-page-container span{
  display: inline-block;
}
.contacts-page-sendmessage-button{
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px #15adc4;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 40px;
  cursor: pointer;
}
.contacts-page-sendmessage-button:hover{
  background-color: #15adc4;
  color: white;
}

/*----------------------------SEND MESSAGE---------------------*/
.sendmessage-page-container form{
  width: 60%;
  margin: auto;
}

.sendmessage-page-container form input,
.sendmessage-page-container form textarea{
  width: 100%;
  margin-bottom: 20px;
}
.sendmessage-page-container form textarea{
  height: 300px;
}
.sendmessage-page-container form button{
  border: 1px solid #15adc4;
/*  padding-right: 40px;
  padding-left: 40px;*/
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sendmessage-page-container form button:hover{
  background-color: #15adc4;
  color: white;
}