{% include './admin-template-parts/admin-header.html' %}
	<section class="container-fluid">
		<div class="row">
			{% include './admin-template-parts/admin-sidebar.html' %}<!-- col 1 with col-3 class -->
		    <div class="col-10 second-admin-column-features"><!-- col 2 with col-9 class -->
		    	<div class="row web-analysis-summary">
		    		<div class="col">Total articles</div>
			    	<div class="col">Total subs</div>
			    	<div class="col">Total articles</div>
		    	</div>
		    </div>
		</div>
	</section>
</body>
</html>