{% load static %}
{% include './admin-template-parts/admin-header.html' %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<style>

</style>
	<section class="container-fluid">
		<div class="row">
			{% include './admin-template-parts/admin-sidebar.html' %}<!-- col 1 with col-3 class -->
		    <div class="col-10 second-admin-column-features"><!-- col 2 with col-9 class -->
		    	<div class="row post-blog-form">
                     <form action="{% url 'edit_post' blog.id %}" method="POST"  enctype="multipart/form-data" id="blogform">
                        {% csrf_token %}
                     	  <label for="title">Blog Title</label><br>
                     	  <input type="text" name="blog-title" id="title" value="{{blog.title}}">
                     	  <br><br>
                          {% if categories %}
                          <label for="category">Category</label><br>
                          <select id="category" name="category">
                              {% for cate in categories %}
                              <option>{{cate.name}}</option>
                              {% endfor %}
                          </select>
                          <br><br>
                          {% endif %}

                     	  <label for="slug">Slug</label><br>
                     	  <input type="text" name="blog-slug" id="slug" value="{{blog.slug}}">
                     	  <br><br>

                     	  <label for="lead_img">Lead Image</label><br>
                     	  <input type="file" name="lead-img" id="lead_img" >
                     	  <br><br>

                          
                          <textarea style="visibility:hidden;" id="content" name="blog-content">
                              {{blog.content|safe}}
                          </textarea>

                     	  <div>Blog Body</div>
						  <div style="height:300px;" id="editor" >
                                              
                          </div>
                          <br><br>

                     	  <label for="summar">Blog Summary</label><br>
                     	  <textarea id="summar" name="blog-summary">{{blog.summary}}</textarea>
                     	  <br><br>


                     	  <label for="author">Author</label><br>
                     	  <input value="{{blog.author}}" type="text" name="author" id="author">
                     	  <br><br>

                     	  <input onclick="send();" type="submit" name="submit" value="Post">

                     </form>
		    	</div>
		    </div>
		</div>
	</section>


	<!-- ==================== -->


<!-- <div id="editor"></div>
<button  id="sendData" onclick="send()">save Data</button>


<div id="display-quill-contents"></div> -->

<!-- <link rel="stylesheet" type="text/css" href="{% static 'blog/highlight/styles/monokai-sublime.css' %}">
<script href="{% static 'blog/highlight/js/highlight.pack.js' %}"></script> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/monokai-sublime.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- window.history.replaceState stops the form from resubmiting when the page is refresged -->

<!-- Initialize Quill editor -->
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }


 hljs.configure({   // optionally configure hljs
  languages: ['javascript', 'ruby', 'python']
});

    var toolbarOptions=[
              [{ header: [1, 2,3,4,5,6, false] }],
              ['bold', 'italic', 'underline'],
              ['blockquote', 'image', 'code-block'],
              [{'list':'ordered'}, {'list':'bullet'}],
              [{'script':'sub'}, {'script':'super'}],
              [{'indent':'-1'}, {'indent':'+1'}],
              [{'direction':'rtl'},],
              [{'size':['small', false, 'large', 'huge']}],
              ['link','image', 'video', 'formula'],
              [{'color':[]}, {'background':[]}],
              [{'font':[]}],
              [{'align':[]}],
            ];


    var quill = new Quill('#editor', {
        modules:{
            toolbar:toolbarOptions
        },
        theme: 'snow'
      });

    // quill.enable(false);
    
    // console.log(Quill.imports);

    // var quill2 = new Quill('#display-quill-contents');
    var textarea = document.getElementById('content');

   function send(){
     var data = quill.container.innerHTML;
     // var data = quill.getContents();
     // var data = quill.root.innerHTML;
     // print(data);
     textarea.innerHTML = data;
     // console.log(data);
     // quill2.setContents(data);
   }
    

   function changeSideBarBackground(){
        let side_bar_menu = document.getElementById('side-bar-post-blog');
        // console.log(side_bar_menu);
        side_bar_menu.style.backgroundColor = "#43AEC4";
        side_bar_menu.style.color = "white";
   } 
   changeSideBarBackground(); 


   window.onload =  function () {
        // body...
        console.log("post editing in progress ...");
        
        var textarea = document.getElementById('content').value;
        var editor = document.getElementById('editor');

       const delta = quill.clipboard.convert(textarea);
       quill.setContents(delta, 'silent');
    } 
</script>

<!-- ===================================== -->


</body>
</html>



