{% include './admin-template-parts/admin-header.html' %}
	<section class="container-fluid">
		<div class="row">
			{% include './admin-template-parts/admin-sidebar.html' %}<!-- col 1 with col-3 class -->
		    <div class="col-10"><!-- col 2 with col-9 class -->
               <!-- content goes here -->
		    </div>
		</div>
	</section>

	<script>
	   function changeSideBarBackground(){
	        let side_bar_menu = document.getElementById('side-bar-siteanalysis');
	        console.log(side_bar_menu);
	        side_bar_menu.style.backgroundColor = "#43AEC4";
	        side_bar_menu.style.color = "white";
	   } 
	   changeSideBarBackground(); 
	</script>
</body>
</html>