{% load static %}
{% include './admin-template-parts/admin-header.html' %}

	<section class="container-fluid">
		<div class="row">
			{% include './admin-template-parts/admin-sidebar.html' %}<!-- col 1 with col-3 class -->
		    <div class="col-10 second-admin-column-features"><!-- col 2 with col-9 class -->
               <!-- content goes here -->
               <div class="row youtube-sidebar-admin-row-one"><!-- row one start -->
		    		<div class="col">
		    			youtube subscribers
		    			<br>
		    			<b>100</b>
		    		</div>
			    	<div class="col">
			    		total videos on site
			    		<br>
			    		<b>100</b>
			    	</div>
			    	<div class="col">
			    		total vides on youtube
			    		<br>
			    		<b>100</b>
			    	</div>
			    	<div class="col">
			    		add video
			    		<br>
			    		<i class="fas fa-plus"></i>
			    	</div>
		    	</div><!-- row one end -->

		    	<div class="row"><!-- row two start -->
		    		<div class="col">
		    			<canvas id="myChart" width="400" height="400"></canvas>
		    		</div>
		    	</div><!-- row two end -->


		    </div>
		</div>
	</section>


	<script>
	   function changeSideBarBackground(){
	        let side_bar_menu = document.getElementById('side-bar-youtube');
	        console.log(side_bar_menu);
	        side_bar_menu.style.backgroundColor = "#43AEC4";
	        side_bar_menu.style.color = "white";
	   } 
	   changeSideBarBackground(); 
	</script>

		<script type="text/javascript" src="{% static 'blog/js/charts/youtube-sidebaar-area-charts.js' %}"></script>



</body>
</html>