.article-details-topic-container{
	background-color: #282222;
	height: 150px;
	color: white;
	display: flex;
	align-items: center;
}

.article-details-topic-container h1{
	margin-right: 100px;
	margin-left: 100px;
	/*background-color: blue;*/
}
.article-details-author-date-container{
	display: flex;
	align-content: space-around;
	flex-wrap: wrap;
	padding-right: 100px;
	padding-left: 100px;
	padding-bottom: 20px;
	background-color: rgb(245,245,245);
}
.article-details-author-date-container .author-container-img{
	background-color: grey;
	height: 150px;
	width: 150px;
	margin-top: 75px;
	border-radius: 150px;
	overflow: hidden;
	border: solid 1px #282222;
}
.article-details-author-date-container .author-container-img img{
	width: 100%;
	height: 100%;
}
.article-details-author-date-container .date-container{
  margin-bottom: 0px;
  margin-top: 105px;
}
.article-details-author-date-container .date-container span{
	display: inline-block;
	margin-left: 40px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 20px;
	margin-right: 40px;
   /*color: white;*/
   color: rgba(10,10,10);
   background-color: rgb(220,220,220);
   opacity: 0.9;
}

.article-details-follow-midea-cons-container,
.col-0{
	display: none;
}
.article-details-follow-midea-cons{
	top: 150px;
	padding-left: 30px;
	margin-top: 30px;
	padding-top: 30px;
	font-size: 20px;
	/*display: none;*/
}
.article-details-follow-midea-cons-non-fixed{
	position: fixed;
	top: 150px;
	padding-left: 30px;
	/*display: none;*/
}

.aricle-details-topic-meta-tags span{
  font-style: italic;
   color: brown;
   /*background-color: brown;*/
   border: solid 1px brown;
   display: inline-block;
   margin:auto;
   margin-bottom: 10px;
   margin-top: 10px;
   padding-right: 40px;
   padding-left: 40px;
   cursor: pointer;
}

.article-details-actual-content-container{
	/*box-shadow: 100px 40px 40px rgb(200,200,200);*/
/*	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;*/
	/*width: 100%;*/
}
.hide-article-on-device-small{
	display: none;
}
.article-details-related-articles >div{
   max-width: 250px;
   margin-left: 10px;
   border: solid 1px rgb(150,150,150);
   padding: 0px;
}
.article-details-related-articles >div img{
   max-width: 100%;
}
.row>div{
	/*background-color: blue;*/
	margin:auto;
}


@media screen and (min-width: 770px) {
    .hide-article-on-device-small{
	display: block;
   }
}

@media screen and (min-width: 1165px) {
    .article-details-follow-midea-cons-container,
    .col-0{
	display: block;
   }
}

