{% load static %}
<footer class="container-fluid">
	<div class="row justify-content-around">
		<div class="search-bar">
			<form>
				<input  placeholder="&nbsp; &nbsp; search articles..." type="text" name="text">
				<input style="font-family: FontAwesome; color:rgb(100,100,100); font-size: 14px;" value="&#xf002;" type="submit">
			</form>
		</div>
	</div>
    <hr style="border: solid 0.5px rgba(170,170,170);">
	<div class="row justify-content-around footer-social-media-icons">
		<div style="text-align: center;"  class="col-12">Follow Me On Social Media</div>
		<div class="col-1"><i class="fab fa-youtube"></i></div>
		<div class="col-1"><i class="fab fa-twitter"></i></div>
		<div class="col-1"><i class="fab fa-facebook"></i></div>	
	</div>
    <hr style="border: solid 0.5px rgba(170,170,170);">
	<div class="row justify-content-centre">
		<div class="col"><span class="logo-footer">wmeCreatives &copy; 2021</span></div>
	</div>
</footer>


</body>
</html>