{% load static %}
<footer class="container-fluid">
    <hr style="border: solid 0.5px rgba(170,170,170);opacity: 0.8;">
	<div class="row justify-content-left footer-social-media-icons">
		<div class="col-1"><i class="fab fa-youtube"></i></div>
		<div class="col-1"><i class="fab fa-twitter"></i></div>
		<div class="col-1"><i class="fab fa-facebook"></i></div>
		<div class="col-5"><span style="color: white;" class="logo-footer">wme<span style="color: brown;">C</span>reatives &copy; 2021</span></div>	
	</div>
    <hr style="border: solid 0.5px rgba(170,170,170);">
<!-- 	<div class="row justify-content-centre">
		<div class="col-5"><span class="logo-footer">wmeCreatives &copy; 2021</span></div>
	</div> -->
</footer>


</body>
</html>