{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/bloglist.css' %}">
	<script src="https://kit.fontawesome.com/1f77c9f2d9.js" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'blog/js/index.js' %}"></script>

	
	
</head>
<body style="background-color: rgb(252, 252, 252);" onscroll="hide_follow_icons_scroll()"  onresize="removeDropdownHidingClass()">
	<div class="top-line"></div>

	<header>
		<div class="menu-container">
			<ul>
				<li  class="logo"><a style="color: black;"  href="{% url 'index' %}">&nbsp; wme<span style="color: #15adc4;">C</span>reatives</a></li>
				<li><a href="{% url 'bloglist' %}">Blog</a></li>
                <!-- <li><a href="#">Projects</a></li> -->
				<li><a href="#">Contacts</a></li>
				<li><a href="#">Send Message</a></li>
				<!-- <li><a href="#">&nbsp;about&nbsp;<i class="fas fa-question-circle"></i></a></li> -->
				<li><a href=""><i class="fas fa-search"></i> &nbsp; Search</a></li>
				<li onclick="myFunction()" class="menu-dropdown-button" >
					<a href="#">
					    <img  style="width: 30px;" src="{% static 'blog/icons/menu-icon.svg' %}">
				    </a>
			    </li>
			</ul>
		</div>

		<div id="menu-container-dropdown-id" class="menu-container-dropdown">
			<ul>
				<li><a href="{% url 'bloglist' %}">Blog</a></li>
				<li><a href="#">Contacts</a></li>
				<li><a href="#">Send Message</a></li>
				<li><a href=""><i class="fas fa-search"></i> &nbsp; Search</a></li>
			</ul>
		</div>



         <footer style="border: none;">
			<div>
				<i class="fab fa-youtube"></i>
			</div>
			<div>
				<i class="fab fa-twitter"></i>
			</div>
			<div>
				<i class="fab fa-facebook-square"></i>
			</div>
		</footer>


		